@font-face {
  font-family: 'fc_subject_rounded_bold';
  src: url('../../fonts/FC_subject_rounded_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'fc_subject_rounded_regular';
  src: url('../../fonts/FC_subject_rounded_regular.ttf') format('truetype');
}

้html,
body {
  font-family: 'fc_subject_rounded_regular';
}

p {
  font-size: 18px;
}

.bg-home {
  background-image: url('../../images/BG-Home.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

.bg-random {
  background-image: url('../../images/BG-random.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

.bg-gallery {
  background-image: url('../../images/gallery/BG-GALL2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

.bg-result {
  background-image: url('../../images/bg-result-1.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

.bg-result1 {
  background-image: url('../../images/bg-result-1-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result2 {
  background-image: url('../../images/bg-result-2-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result3 {
  background-image: url('../../images/bg-result-3-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result4 {
  background-image: url('../../images/bg-result-4-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result5 {
  background-image: url('../../images/bg-result-5-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result6 {
  background-image: url('../../images/bg-result-6-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result7 {
  background-image: url('../../images/bg-result-7-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result8 {
  background-image: url('../../images/bg-result-8-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result9 {
  background-image: url('../../images/bg-result-9-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.bg-result10 {
  background-image: url('../../images/bg-result-10-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

.navbar-brand {
  margin-left: 2rem;
  margin-right: 0.1rem !important;
}

.nav-title {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  font-weight: bolder;
  text-decoration: none !important;
  white-space: nowrap;
}

.nav-bg {
  background-color: #ffd320;
  border-bottom: 3px solid black;
}

.home-btn {
  width: 155px;
  height: 42px;
  background-image: url('../../images/HOME\ ICON.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-btn:hover {
  width: 155px;
  height: 42px;
  background-image: url('../../images/HOME\ ICON\ WHITE.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.howto-btn {
  width: 155px;
  height: 42px;
  background-image: url('../../images/HOW\ TO\ ICON.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.howto-btn:hover {
  width: 155px;
  height: 42px;
  background-image: url('../../images/HOW\ TO\ ICON\ WHITE.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.random-btn {
  width: 155px;
  height: 42px;
  background-image: url('../../images/RANDOM\ ICON.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.random-btn:hover {
  width: 155px;
  height: 42px;
  background-image: url('../../images/RANDOM\ ICON\ WHITE.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.gall-btn {
  width: 155px;
  height: 42px;
  background-image: url('../../images/GALL\ ICON.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.gall-btn:hover {
  width: 155px;
  height: 42px;
  background-image: url('../../images/GALL\ ICON\ WHITE.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.letgo-btn {
  width: 212px;
  height: 52px;
  margin-left: -12px;
  background-image: url('../../images/LETS\ GO.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.letgo-btn:hover {
  width: 212px;
  height: 52px;
  margin-left: -12px;
  background-image: url('../../images/LETS\ GO\ WHITE.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.customcard1 {
  width: 90%;
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: 5%;
}

.customcard2 {
  width: 90%;
  max-height: 700px;
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 16px;
  padding-top: 8%;
  padding-bottom: 5%;
  margin-right: 10%;
  margin-top: 10%;
}

@media (max-width: 1600px) {
  .customcard3 {
    max-width: 100%;
    max-height: 900px;
    margin-top: 13%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 16px;
  }
}

@media (min-width: 1601px) and (max-width: 2000px) {
  .customcard3 {
    margin-top: 17%;
    margin-bottom: 5%;
    max-width: 100%;
    height: 900px;
    padding-bottom: 5%;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 16px;
  }
}

@media (max-width: 1600px) {
  .customcard4 {
    max-width: 100%;
    margin-top: 13%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 16px;
  }
}

@media (min-width: 1601px) and (max-width: 2000px) {
  .customcard4 {
    margin-top: 17%;
    margin-bottom: 5%;
    max-width: 100%;
    padding-bottom: 5%;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 16px;
  }
}
.contactTitle {
  margin: 16px;
}

.contactImg1 {
  width: 130px;
  height: 195px;
  position: relative;
  display: inline-block;
}
.contactImg1 .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.contactImg1:hover .img-top {
  display: inline;
}

.home-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gall-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.img-gall {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  margin-top: 10px;
}

.home-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.home-card2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.element-display-left {
  position: relative;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.element-display-right {
  position: relative;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

hr.new1 {
  border: 3px solid orange;
}

.borderH1 {
  border: 3px solid black;
  border-radius: 20px;
  width: 195px;
}

.ResultBtnImg1 {
  width: auto;
  height: 40px;
  position: relative;
  display: inline-block;
}
.ResultBtnImg1 .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.ResultBtnImg1:hover .img-top {
  display: inline;
}

.randomBtn {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
