.fc_subject_roundedbold{font-family: 'fc_subject_roundedbold';}
.fc_subject_roundedregular{font-family: 'fc_subject_roundedregular';}


@font-face {
    font-family: 'fc_subject_roundedbold';
    src: url('FC Subject Rounded Bold [Non-commercial use].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fc_subject_roundedregular';
    src: url('FC Subject Rounded Regular [Non-commercial use].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}